.ctn-form {
    background-image: url(https://images2.minutemediacdn.com/image/upload/c_crop,h_1190,w_2121,x_0,y_224/v1562630330/shape/mentalfloss/65008-gettyimages-843648918.jpg?itok=2sferPz5);
    background-attachment: fixed;
    background-position: center;
    height: 100vh;
}

