footer {
    border-top: 1px solid black;
}

.ion-icon {
    color: black;
    font-size: 25px;
    margin-right: 10px;
}

.ftrrow {
    margin-left: 36px;
}

.ftrrow a {
    text-decoration: none;
    color: black;
    font-size: 13px;
}

.ftrbtn {
    background-color: transparent;
    color: black;
    border-top: 1px solid black;
    width: 125px;
}

.cpy p {
    font-size: 13px;
    color: white;
}